<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @site.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "themes", "data-turbo-track": "reload" %>
  <style>
      body {
        padding: 1rem;
        font-family: var(--font-family);
        background-color: var(--background-color);
        color: var(--text-color);
      }

      a:link {
        color: var(--link-color);
      }

      a:visited {
        color: var(--link-color);
      }

      a:hover {
        color: var(--link-color);
      }

      a:active {
        color: var(--link-color);
      }

      h1 {
        font-size:xx-large;
        font-weight: normal;
      }

      main {
        max-width: 550px;
        text-align: center;
        margin: 0 auto;
      }

      img {
        width: 100%;
        height: auto;
      }

      .summary {
        opacity: 60%;
      }

      .content-block {
        margin: 2rem 0 2rem 0;
      }
  </style>
</head>
<body class="theme-<%= @site.theme_choice %>" data-layout="center">
  <main>
  <h1><%= @site.title %></h1>
  <p class="summary"><%= @site.description %></p>
  <% @site.content_blocks.order(:position).each do |content_block| %>
    <% case content_block.block_type %>
    <% when "text" %>
      <div class="content-block">
        <%= content_block.media_file.download.force_encoding('UTF-8').scrub %>
      </div>
    <% when "image" %>
      <% if content_block.media_file.attached? %>
        <div class="content-block">
        <% if defined?(is_export) && is_export %>
          <img src="assets/<%= content_block.media_file.filename %>" class="max-w-full h-auto align-top" alt="<%= content_block.position %>">
        <% else %>
          <%= image_tag content_block.media_file, class: "max-w-full h-auto align-top", alt: content_block.position %>
        <% end %>
        </div>
      <% end %>
    <% when "audio" %>
      <% if content_block.media_file.attached? %>
        <div class="content-block">
          <audio controls>
            <source src="<%= url_for(content_block.media_file) %>">
          </audio>
        </div>
      <% end %>
    <% when "video" %>
      <% if content_block.media_file.attached? %>
        <div class="content-block">
          <video controls>
            <source src="<%= url_for(content_block.media_file) %>">
          </video>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </main>
</body>
</html>