<% content_for :screen_text, "l0calhost.site" %>

<div data-controller="friend" class="flex flex-col w-full md:flex-row gap-4">
  <section class="border h-[315px] p-[1rem] overflow-hidden md:w-[40%]">
    <%= form_with(model: @user, url: sign_up_path, class: "flex flex-col justify-between h-full") do |form| %>
      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-0 w-[75%]">
          <%= form.label :username, "username" %>
          <div class="flex flex-row items-end">
            <%= form.text_field :username, required: true,placeholder: "my-site-name", autocomplete: "username", 
              data: { 
                action: "focus->friend#show blur->friend#clear",
                friend_message_param: "your username will determine the url of your website!<br>THIS CANT BE CHANGED LATER so be wise ;)<br><br>only '-', letters and numbers are accepted!"
              } %>
            <p class="m-0">.l0calhost.site</p>
          </div>
        </div>

        <div class="flex flex-row gap-3">
          <div class="flex flex-col">
            <%= form.label :email_address, "email" %>
            <%= form.email_field :email_address, required: true, autocomplete: "email", placeholder: "me@example.com", data: { 
                action: "focus->friend#show blur->friend#clear",
                friend_message_param: "classic email input field :)"
              }%>
          </div>

          <div class="flex flex-col">
            <%= form.label "password", :password %>
            <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "password", data: { 
                action: "focus->friend#show blur->friend#clear",
                friend_message_param: "keep this a secret... even to your parents"
              } %>
          </div>
        </div>
      </div>
      <% if form.object.errors.any? %>
        <div>error: <%= form.object.errors.first.message %></div>
      <% end %>
      <div class="flex justify-between">
        <%= link_to "log_in", new_session_path%>
        <%= form.submit "create website" %>
      </div>
    <% end %>
  </section>
  <aside class="p-[1rem] w-full md:w-[40%] shrink-0">
    <p data-friend-target="output" class="text-lg">hello!<br>l0calhost.site is a lightweight site builder. create simple silly websites by just dropping in some files!<br><br>create an account and claim your corner of the internet!</p>
  </aside>
</div>