<h1>create a site</h1>
<%= form_with(model: @site) do |form| %>
 <div>
   <%= form.label :title %>
   <%= form.text_field :title %>
 </div>
 <div>
   <%= form.label :description %>
   <%= form.text_field :description %>
 </div>
 <div>
   <%= form.label :subdomain %>
   <%= form.text_field :subdomain %>
 </div>
 <div>
   <%= form.submit %>
 </div>
<% end %>

<h1>people's website</h1>
<div>
 <% @sites.each do |site| %>
   <%= site.title %>
   <%= site.subdomain %>
   <%= button_to "Delete", site, method: :delete %>
   <%= link_to "Dashboard", dashboard_path(site) %>
 <% end %>
</div>