<%= link_to "log in", new_session_path%>

<%= link_to "directory", directory_path%>

<h1 class="">sign up</h1>

<%= form_with(model: @user, url: sign_up_path) do |form| %>

  <% if form.object.errors.any? %>
    <div>Error: <%= form.object.errors.full_messages.first %></div>
  <% end %>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username, required: true, autofocus: true, autocomplete: "username" %>
  </div>

  <div>
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autocomplete: "email" %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true, autocomplete: "new-password" %>
  </div>

  <div>
    <%= form.submit "create website" %>
  </div>
<% end %>


