<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "l0calhost" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="L0calhost">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="overflow-hidden">
    <nav class="absolute w-full">
      <%= link_to "directory", directory_path unless current_page?(directory_path)%>
      <%= button_to "log out", session_path, method: :delete, class: "absolute top-0 right-4" if authenticated? %>
      <%= link_to "log in", new_session_path, class: "absolute top-0 right-4" if not authenticated? unless current_page?(root_path)%>
    </nav>
    <div class="flex flex-row justify-center items-center h-screen ">
      <header class="flex-1 text-center sticky">
        <p class="m-0">
          <%= status_screen_text %>
        </p>
        <pre class="m-0">
____________________
|  |              |  |
|[]|              |[]|
|  |              |  |
|  |              |  |
|  |              |  |
|  |______________|  |
|                    |
|     ____________   |
|    | __      |  |  |
|    ||  |     |  |  |
|    ||__|     |  |  |
.____|_________|__|__|
        </pre>
        <p class="m-0">
          <%= link_to "<-- back", root_path unless current_page?(dashboard_path) || current_page?(root_path) %>
          <%= link_to "settings", root_path if current_page?(dashboard_path) %>
        </p>
      </header>
      <main data-controller="friend directory" class="flex-2 flex flex-row">
          <%= yield %>
      </main>
    </div>
  </body>
</html>
