<%# app/views/exports/portfolio.html.erb %>
<!DOCTYPE html>
<html>
<head>
  <title><%= @site.title %></title>
  <meta name="description" content="<%= @site.description %>">
</head>
<body>
  <h1><%= @site.title %></h1>
  <p><%= @site.description %></p>

  <% @site.content_blocks.each do |content_block| %>
    <% case content_block.block_type %>
    <% when "text" %>
      <div>
        <%= content_block.body %>
      </div>
    <% when "image" %>
      <% if content_block.media_file.attached? %>
        <div>
          <%= image_tag content_block.media_file %>
        </div>
      <% end %>
    <% when "audio" %>
      <% if content_block.media_file.attached? %>
        <div>
          <audio controls>
            <source src="<%= url_for(content_block.media_file) %>">
          </audio>
        </div>
      <% end %>
    <% when "video" %>
      <% if content_block.media_file.attached? %>
        <div>
          <video controls>
            <source src="<%= url_for(content_block.media_file) %>">
          </video>
        </div>
      <% end %>
    <% end %>
  <% end %>

</body>
</html>